<template name="likedItems">
  {{> _header}}
  <div class="container">
    {{#if currentUser}}
      <div class="row">
        <img class="image-center thumbnail" src="{{userToShow.profile.picture}}">
        <p class="text-center"><b>{{userToShow.profile.name}}</b></p>
      </div>
      <!-- Show items that were requested to be commented on -->
      <!-- Tick a few items -->
      <!-- Comment Box -> I think you will look freaking awesome in this! -->
      <!-- Submit Button -->
      <!-- Create recommendation tagged against user -->
    {{else}}
      <div class="row">
        <img class="image-center thumbnail" src="{{userToShow.profile.picture}}">
        <p class="text-center"><b>{{userToShow.profile.name}}</b></p>
      </div>
      <br>
      <p class="text-center">In order to advice your friend {{userToShow.profile.name}}, please log in with Facebook</p>
      <br>
      <div class="text-center">
        {{> loginButtons}}
      </div>
    {{/if}}
  </div>
</template>
