<template name="_footer">
    <div class="footer">
    <!-- container -->
    <div class="container">
      <div class="footer-top">
          <div class="footer-grids">
            <div class="col-md-3 footer-logo">
              <a href="{{ pathFor 'home'}}">Fashion</a>
            </div>
            <div class="col-md-3 f-address">
              <h5>Address</h5>
              <ul>
                <li>756 gt globel Place,</li>
                <li>CD-Road,M 07 435.</li>
                <li>Telephone: +1 234 567 9871</li>
                <li>FAX: +1 234 567 9871</li>
                <li>E-mail : <a href="mailto:example@email.com">Example@mail.com</a></li>
            </ul></div>
            <div class="col-md-6 f-address f-contact">
              <h5>Stay in Touch</h5>
              <form>
                <input type="text" placeholder="Email address" required="">
                <input type="submit" value="Subscribe">
              </form>
            </div>
            <div class="clearfix"> </div>
          </div>
          <div class="footer-bottom">
            <div class="footer-nav">
              <ul>
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="#news" class="scroll">News</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
            <div class="copyright">
              <p>Copyrights © 2015 Fashion . </p>
            </div>
            <div class="clearfix"> </div>
          </div>
      </div>
    </div>
    <!-- //container -->
  </div>
</template>
