<template name="_footer">
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h3 class="white-text">Like Brands</h3>
          <p class="grey-text text-lighten-4">
            Like brands that we pull from Zalando.
          </p>
        </div>
        <div class="col l4 s12">
          <h3 class="white-text">Like Items</h3>
          <p class="grey-text text-lighten-4">
            Like items that we pull from Zalando.
          </p>
        </div>
        <div class="col l4 s12">
          <h3 class="white-text">Poll Friends</h3>
          <p class="grey-text text-lighten-4">
            Ask your friends for fashion advise.
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        &copy; Copyright Personal Fashion
      </div>
    </div>
  </footer>
</template>
