<template name="_header">
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a class="brand-logo" href="{{pathFor 'home'}}">Personal Fashion</a>

        <div class="right hide-on-small-only">
          {{> loginButtons}}
        </div>
        <ul class="right hide-on-med-and-up">
          <li><a class="dropdown-button" href="#!" data-activates="user-dropdown"><i class="mdi-navigation-more-vert"></i></a></li>
        </ul>
        <ul id="user-dropdown" class="dropdown-content">
          {{> loginButtons}}
        </ul>
      </div>
    </div>
  </nav>
</template>
