<template name="feed">
  {{> _header}}
  <div class="container">
    {{#if currentUser}}
      <div class="banner-bottom-info">
      	<h3>{{userToShow.profile.name}}'s Personalized Feed</h3>
      </div>
      <br>
      <div class="row">
        <div class="text-center">
          <img src="{{userToShow.profile.picture}}" class="image-center thumbnail">
          <br>
        </div>
        <p class="text-center"><b>{{userToShow.profile.name}}</b></p>
        <div id="products-feed"></div>
      </div>
    {{else}}
      <div class="row">
        <img class="image-center thumbnail" src="{{userToShow.profile.picture}}">
        <p class="text-center"><b>{{userToShow.profile.name}}</b></p>
      </div>
      <br>
      <p class="text-center">In order to advice your friend {{userToShow.profile.name}}, please log in with Facebook</p>
      <br>
      <div class="text-center">
        {{> loginButtons}}
      </div>
    {{/if}}
  </div>
</template>
