.loading {
  padding-top: 100px;
}

nav {
  margin-bottom: 24px;
}

ul.side-nav li a {
  line-height: 44px;
  padding: 24px;
  display: block;
}

ul.side-nav li {
  float: none;
}

#giveButton {
	width: 200px;
	height: 200px;
/*	padding: 30px 50px 50px 10px;
*/	text-align:center;
    vertical-align:middle;
    padding-top: 50px;
    font-size: 30px;
    line-height: 1.5em;
    font-family: "HelveticaNeue-Light"
}

#requestButton {
	margin-left: 100px;
	width: 200px;
	height: 200px;
/*	padding: 30px 50px 50px 10px;
*/	text-align:center;
    vertical-align:middle;
    padding-top: 30px;
    font-size: 30px;
    line-height: 1.5em;
    font-family: "HelveticaNeue-Light"

}

.user-advise-black-text {
  color: rgba(0, 0, 0, 0.87) !important;
}
