<template name="recommendations">
  {{> _header}}
  <div class="container">
    <div class="banner-bottom-info">
      <h3>Here are the recommendations from your friends and <i>us</i></h3>
    </div>
    <div class="row">
      <img class="image-center thumbnail" src="{{currentUser.profile.picture}}">
      <p class="text-center">You</p>
    </div>
    <br>
    <br>
    <p class="text-center"><b><i>Featured for you</i></b></p>
    <br>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <a href="https://www.zalando.co.uk/le-specs-swizzle-sunglasses-oliv-ls154f00m-n11.html" target="_blank">
        <img class="image-center thumbnail" src="https://i2.ztat.net/catalog_hd/LS/15/4F/00/MN/11/LS154F00M-N11@6.5.jpg">
        <p class="text-center brand-name truncate">SWIZZLE - Sunglasses - matte khaki</p>
        <p class="text-center">$43.00</p>
      </a>
      <p class="text-center">Us: <i>This sunglasses will definitely look good on you!</i></p>
    </div>
    <div class="row">
      <div id="products-recommendations">
      </div>
    </div>
  </div>
</template>
