<template name="recommendations">
  <h3 class="center">Here are your recommendations</h3>
  <div class="row">
    <img class="image-center" src="{{currentUser.profile.picture}}">
    <p class="center">{{currentUser.profile.name}}</p>
  </div>
  <!-- Show items that were part of recommendations -->
  <!-- Show the comment that the friend gave -->
  <!-- Tap on item to go to the shop url and purchase -->
  <!-- Recommendation sucks? Tap on delete to remove the recommendation from friend y -->
</template>
