<template name="recommendations">
  {{> _header}}
  <div class="container">
    <div class="banner-bottom-info">
      <h3>Here are the recommendations from your friends and <i>us</i></h3>
    </div>
    <div class="row">
      <img class="image-center thumbnail" src="{{currentUser.profile.picture}}">
      <p class="text-center">You</p>
    </div>
    <br>
    <br>
    <p class="text-center"><b><i>Featured for you</i></b></p>
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="https://www.zalando.co.uk/le-specs-swizzle-sunglasses-oliv-ls154f00m-n11.html" target="_blank">
          <img class="image-center thumbnail" src="https://i2.ztat.net/catalog_hd/LS/15/4F/00/MN/11/LS154F00M-N11@6.5.jpg">
          <p class="text-center brand-name truncate">SWIZZLE - Sunglasses - matte khaki</p>
          <p class="text-center">$43.00</p>
        </a>
        <p class="text-center">Us: <i>This sunglasses will shine the sunlight back from you!</i></p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="https://www.zalando.co.uk/babymel-baby-changing-bag-blue-by859a003-k11.html" target="_blank">
          <img class="image-center thumbnail" src="https://i6.ztat.net/catalog_hd/BY/85/9A/00/3K/11/BY859A003-K11@3.1.jpg">
          <p class="text-center brand-name truncate">Baby changing bag - navy stripe</p>
          <p class="text-center">$45.00</p>
        </a>
        <p class="text-center">Us: <i>This bag will make you look awesome!</i></p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="https://www.zalando.co.uk/tommy-hilfiger-bracelet-gold-to151f04j-f11.html" target="_blank">
          <img class="image-center thumbnail" src="https://i3.ztat.net/catalog_hd/TO/15/1F/04/JF/11/TO151F04J-F11@5.1.jpg">
          <p class="text-center brand-name truncate">Bracelet - gold</p>
          <p class="text-center">$60.00</p>
        </a>
        <p class="text-center">Us: <i>You are worthy of this gold bracelet!</i></p>
      </div>
    </div>
    <div class="row">
      <br>
      <p class="text-center"><b>Friend Recommendations</b></p>
      <br>
      <div id="products-recommendations">
      </div>
    </div>
  </div>
</template>
