<template name="home">
  <div class="template-home">
  	<!-- header-top -->
	<div class="header-top">
		<!-- container -->
		
		<!-- //container -->
	</div>
	<!-- //header-top -->
	<!-- banner -->
	{{#if currentUser}}
	<div class="banner-bottom">
		<!-- container -->
		<div class="container">
			<div class="text-center"> 
			  <a href="{{ pathFor 'selectBrands' }}"><button type="button" class="btn btn-default" id="more">Request for advise</button></a>
			</div>
			<div class="banner-bottom-info">
				<h3>Fashion advise 101</h3>
				<p>Start giving fashion advise by selecting any profile below.</p>
			</div>
			<div class="banner-bottom-grids">
				{{#each profiles}}
				<div class="col-md-6 banner-bottom-grid">
					<div class="col-md-5 banner-bottom-left">
						<a href="{{pathFor 'feed'}}"><img src="{{profile.picture}}" alt="" /></a>
					</div>
					<div class="col-md-7 banner-bottom-right">
						<h4>{{profile.name}}</h4>
						<p>Height: 5" <br/> Size: 00</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				 {{/each}}
				<div class="clearfix"> </div>
			</div>
			
		</div>
		<!-- container -->
	</div>
	

	{{else}}
	<div class="banner">
		<!-- container -->
		<div class="container">
			<div class="top-nav">
					<span class="menu">MENU</span>
					<ul class="nav1">
						<li><a href="index.html" class="active">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#" class="scroll">News</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<!-- script-for-menu -->
						<script>
							 $( "span.menu" ).click(function() {
							$( "ul.nav1" ).slideToggle( 300, function() {
							// Animation complete.
								});
								});
						</script>
					<!-- /script-for-menu -->
			</div>
			<div class="banner-grids">
				<div class="banner-left">
					<h1>
						<a href="index.html">Fashion</a>
					</h1>
					<p>Be A Fashion Advisor Anytime</p>
				</div>
				<div class="banner-right">
					<script src="js/responsiveslides.min.js"></script>
					<script>
						// You can also use "$(window).load(function() {"
						$(function () {
						  // Slideshow 4
						  $("#slider3").responsiveSlides({
							auto: true,
							pager: true,
							nav: false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							  $('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							  $('.events').append("<li>after event fired.</li>");
							}
						  });
					
						});
					</script>
					<div  id="top" class="callbacks_container">
						<ul class="rslides" id="slider3">
							<li>
								<div class="banner-right-info">
									<h3>Nulla at magna sit amet nibh posuere malesuada</h3>
									<p>Lorem ipsum dolor sit amet consectetur adipiscing elit duis convallis erat est a euismod justo fringilla ut vestibulum a magna tempus sapien gravida consequat.</p>
								</div>
							</li>
							
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>	
	<!-- banner -->
	<!-- banner-bottom -->


	
	{{/if}}
	<!-- //banner-bottom -->
	<!-- destination -->
	<div class="destination">
		<!-- container -->
		<div class="container">
			<div class="destination-info">
				<h3>Top Fashion Advisor</h3>
				<p>Send personal request to these top advisors to seek for fashion advisor.</p>
			</div>
			<div class="destination-grids">
				<div class="col-md-3 destination-grid">
					<img src="images/4.jpg" alt="" />
				</div>
				<div class="col-md-3 destination-grid">
					<img src="images/5.jpg" alt="" />
				</div>
				<div class="col-md-3 destination-grid">
					<img src="images/6.jpg" alt="" />
				</div>
				<div class="col-md-3 destination-grid">
					<img src="images/7.jpg" alt="" />
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>

	<!-- //destination -->
	
	<!-- footer -->

	<!-- //footer -->
    <!-- <h1>Welcome to Project Title</h1>
    <div style="text-align:center;">
      <a id="giveButton" class="btn-floating btn-large waves-effect waves-light btn blue lighten-2" href="{{ pathFor 'userProfile' }}">GIVE <br/>ADVISE</a>
      <a id="requestButton" class="btn-floating btn-large waves-effect waves-light btn blue lighten-2" href="{{ pathFor 'selectBrands' }}">REQUEST <br/>FOR <br/>ADVISE</a> -->
<!--     </div>
 -->  </div>
</template>
