<template name="home">
	{{#if currentUser}}
		{{> _header}}
		<div class="container">
			<div class="text-center">
				<a href="{{ pathFor 'recommendations' }}"><button type="button" class="btn btn-info">My Recommendations</button></a>
				<a id="request-button" href="{{ pathFor 'selectBrands' }}"><button type="button" class="btn btn-success">Request for advice</button></a>
        {{> loginButtons}}
			</div>
			<br>
			<div class="banner-bottom-info">
				<h3>You'll get advice from your friends</h3>
				<br>
				<i>-OR-</i>
				<p>Start giving fashion advice by selecting any profile below.</p>
			</div>
			<br>
			<br>
			<div class="row">
				{{#each profiles}}
				  <div class="col-xs-6 col-md-3">
				    <a href="/feed/?_id={{_id}}" class="thumbnail">
				      <img src="{{profile.picture}}">
							<br>
							<p class="text-center"><b>{{profile.name}}</b></p>
				    </a>
				  </div>
				{{/each}}
			</div>
		</div>
	{{else}}
		<div class="banner">
			<div class="container">
				<div class="banner-grids">
					<div class="banner-left">
						<h1>
							Fashion Advisor
						</h1>
						<p>Be A Fashion Advisor Anytime</p>
					</div>
					<div class="banner-right">
						<div id="top" class="callbacks_container">
							<ul class="rslides" id="slider3">
								<li>
									<div class="banner-right-info">
										<h3>Get Fashion Advice, Give Fashion Advice</h3>
	                  <br>
	                  <br>
										<p>Sometimes when it comes to buying fashion items, all we need is some advice from our friends. To start your personalized fashion journey, register with Facebook below.</p>
	                  <br>
	                  <br>
	                  We are still developing! Come back soon!
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	{{/if}}
</template>
