<template name="selectBrands">
  <div class="template-select-brands">
    <h3 class="center">Pick brands you love</h3>
    <div id="brands-collection">
      <div class="row">
        {{#each brandsToShow}}
          <div class="col s12 m6 l4">
            <div class="card-wrapper">
              <div class="brand-img" style="background-image: url('{{brand.umage_url}}');"></div>
              <p class="brand-name truncate">{{brand.name}}</p>
              <div class="brand-control">
                <span class="button-dislike"><i class="fa fa-times fa-lg"></i></span>
                <span class="button-like"><i class="fa fa-heart-o fa-lg"></i></span>
                <span class="button-unlike" style="display: none;"><i class="fa fa-heart fa-lg"></i></span>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>
